site/
kstreams/target/
kafka-java-vertx-starter-1.0.0/kafka.properties
kafka-java-vertx-starter-1.0.0/truststore.p12
**/node_modules
data/
**/certs/*.*
frequent-flyer-notification-engine/target/
**/logs/

