<server description="Sample Liberty server">

  <featureManager>
      <feature>microprofile-1.2</feature>
      <feature>jndi-1.0</feature>
      <feature>jsp-2.3</feature>
      <feature>servlet-3.1</feature>
      <feature>managedBeans-1.0</feature>
      <feature>websocket-1.1</feature>
      <feature>transportSecurity-1.0</feature>
  </featureManager>

  <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
      id="defaultHttpEndpoint" host="*" />

<!-- SSL configuration for outbound SSL connections-->
<!-- sslDefault outboundSSLRef="alternateSSLSettings" /-->
<ssl id="alternateSSLSettings" 
      trustStoreRef="alternateTrustStore" />     
         

<keyStore id="alternateTrustStore" 
      location="${server.output.dir}/resources/security/es-cert.jks" 
      type="JKS" 
      password="cGFzc3dvcmQK" />

  <!-- Automatically expand WAR files and EAR files -->
  <applicationManager autoExpand="true"/>

  <applicationMonitor pollingRate="1000ms"/>

  <webApplication name="containerms" location="${app.location}" contextRoot="/"/>

</server>
